@model IList<Course>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Courses";
}

<link rel="stylesheet" href="~/css/home.css">

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>
        <section class="courses-container">
            <div class="course">
            <a style="background-color:forestgreen;" href="@Url.Action("Create", "Course")">
                + Добавить курс
            </a>
            </div>
            @foreach (var course in Model)
            {
                <div class="course">
                    <h3>@course.Name</h3>
                    @foreach (var grupa in course.courseGrupas)
                    {
                        <p>@grupa.Grupa.Code</p>
                    }
                    @if (course.Lessons.Any())
                    {
                        <a href="@Url.Action("Index", "Lesson", new {courseId = course.Id, lessonNumber = 1})">
                            Перейти
                        </a>
                    }
                    else
                    {
                        <a style="background-color:forestgreen;"href="@Url.Action("Create", "Lesson", new {courseId = course.Id})">
                            + Добавить первый урок
                        </a>
                    }
                    <a href="@Url.Action("Edit", "Course", new {id = course.Id})">
                        Изменить
                    </a>
                </div>
            }
        </section>
    </main>
</body>
</html>

@* <a href="@Url.Action(course.Name, "Course")">
                        Перейти
                    </a>
                <a asp-controller="Course" asp-action="Detail" asp-route-id ="@course.Id">Перейти</a>
                    *@
