@model ICollection<HomeWork>

<style>
    .hidden {
        display: none;
    }
</style>

@foreach (var item in Model)
{
    <input type="radio" name="radio" id="radio @item.OrderNumber">
    <label for="radio @item.OrderNumber">Homework @item.OrderNumber</label>
    @if (item.Lesson.Course.User != null)
    {
        @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || item.Lesson.Course.User.Id == User.GetUserId())
        {
            <a href="@Url.Action("Edit", "HomeWork", new {id = item.Id})">Edit</a>
        }
    }
    <br />
    <br />
}

@foreach (var item in Model)
{
    <br />
    <div id="text @item.OrderNumber" class="hidden">@Html.Raw(item.Task)</div>
    <br />
}

<script>
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    const texts = document.querySelectorAll('div[id^="text"]');

    radioButtons.forEach((radio, index) => {
        radio.addEventListener('change', () => {
            texts.forEach((text, i) => {
                text.style.display = i === index && radio.checked ? 'block' : 'none';
            });
        });
    });
</script>