@using PracticeProject.Interface;
@using PracticeProject.ViewModels;
@model UserDetailViewModel
@inject IUserRepository UserRepository

@{
    ViewData["Title"] = "User - " + Model.Name;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/courses.css">
<link rel="stylesheet" href="~/css/UserDetail.css">

<style>
    /* CSS to style the anchor as a button */
    .btn-like-link {
        display: inline-block;
        padding: 10px 20px; /* Adjust the padding as needed */
        background-color: #007bff; /* Button background color */
        color: #fff; /* Text color */
        text-decoration: none; /* Remove underline from links */
        border: 1px solid #007bff; /* Button border */
        border-radius: 4px; /* Rounded corners */
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Add a transition effect */
    }

        .btn-like-link:hover {
            background-color: #0056b3; /* Button background color on hover */
            border: 1px solid #0056b3; /* Button border on hover */
            color: #fff; /* Text color on hover */
            text-decoration: none; /* Remove underline on hover */
        }


</style>

@{
    var currentGrupa = await UserRepository.GetCurrentGrupaByUser(User.GetUserId());
}
@if (User.Identity.IsAuthenticated && Model.Grupa == currentGrupa || !User.IsInRole("student"))//&& !User.IsInRole("admin"))
{
    <div class="main-container">



        <div class="form-container">
            <div class="user-info">
                <img src="@Model.Image" width="240" style="border-radius:10px;" />
            </div>
            <div class="user-details">
                <h1>@Model.Name | @Model.Surname</h1>
                <div class="form-group">
                    <p>Email: @Model.Email</p>
                </div>
                <div class="form-group">
                    <p>Grupa: @Model.Grupa</p>
                </div>
                <div class="form-group">
                    <div class="align-items-center">
                        @if (Model.Id == User.GetUserId())
                        {
                            <a class="btn-like-link" asp-area="" asp-controller="User" asp-action="EditProfile">
                                <i class="fas fa-user"></i> Edit
                            </a>
                        }

                        <button class="btn btn-outline-primary" data-toggle="button">
                            <i class="fas fa-envelope"></i>Message
                        </button>

                        <button class="btn btn-outline-primary" data-toggle="button">
                            <i class="fas fa-trash"></i> Delete
                        </button>

                        <!--
                        <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Delete</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Block</a>
                                <a class="dropdown-item" href="#">Report</a>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>




        <!--end of section-->

        <section class="flush-with-above space-0">
            <div class="bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="true">Courses</a>
                                </li>
                                @if (User.IsInRole("admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="groups-tab" data-toggle="tab" href="#clubs" role="tab" aria-controls="clubs" aria-selected="false">Schedule</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Other Grup Members</a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
        </section>


        <section class="flush-with-above">

            <div class="tab-content">

                <div class="tab-pane fade active show" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                    <section class="courses-container">
                        @{
                            var courses = await UserRepository.GetCoursesByGrupaUser(Model.Grupa);
                            if (courses != null)
                            {
                                await Html.RenderPartialAsync("_Courses", courses);

                            }
                            else
                            {
                                <h1>Error</h1>
                            }
                        }
                    </section>
                </div>

                @if (User.IsInRole("admin"))
                {
                    <div class="tab-pane fade" id="clubs" role="tabpanel" aria-labelledby="groups-tab">
                        <div class="container">
                            <div class="row">

                                <div class="col-12 col-md-6 col-lg-4 d-flex">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/graphic-group-1.png" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#" class="d-block mb-2">
                                                <h4>Pitstop</h4>
                                            </a>
                                            <span>A lightweight javascript library for scrolling</span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><i class="icon-users">&nbsp;</i> 18 members</li>
                                            <li class="list-group-item"><i class="icon-folder">&nbsp;</i> 12 projects</li>
                                        </ul>
                                        <div class="card-footer d-flex align-items-center">
                                            <div>
                                                <ul class="list-inline list-spacing-sm">

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-5.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-4.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-5.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-4.jpg">
                                                    </li>

                                                </ul>
                                            </div>
                                            <span class="text-small ml-2">+ 14 more</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 d-flex">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/graphic-group-2.png" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#" class="d-block mb-2">
                                                <h4>Bench</h4>
                                            </a>
                                            <span>Account management for financial professionals</span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><i class="icon-users">&nbsp;</i> 9 members</li>
                                            <li class="list-group-item"><i class="icon-folder">&nbsp;</i> 6 projects</li>
                                        </ul>
                                        <div class="card-footer d-flex align-items-center">
                                            <div>
                                                <ul class="list-inline list-spacing-sm">

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-5.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-5.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-4.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-5.jpg">
                                                    </li>

                                                </ul>
                                            </div>
                                            <span class="text-small ml-2">+ 5 more</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 d-flex">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/photo-group-3.jpg" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#" class="d-block mb-2">
                                                <h4>Seattle</h4>
                                            </a>
                                            <span>Creative folk hailing from The Windy City</span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><i class="icon-users">&nbsp;</i> 42 members</li>
                                            <li class="list-group-item"><i class="icon-folder">&nbsp;</i> 7 projects</li>
                                        </ul>
                                        <div class="card-footer d-flex align-items-center">
                                            <div>
                                                <ul class="list-inline list-spacing-sm">

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-4.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-2.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-4.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-5.jpg">
                                                    </li>

                                                </ul>
                                            </div>
                                            <span class="text-small ml-2">+ 38 more</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </div>
                }

                <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-6">
                                <div class="card" style="margin-top:10px;">
                                    @{
                                        var users = await UserRepository.GetUsersByGrupaUser(Model.Grupa);
                                        
                                        User userToRemove = users.FirstOrDefault(x => x.Id == Model.Id);
                                        users.Remove(userToRemove);
                                        

                                        if (users != null)
                                        {
                                            await Html.RenderPartialAsync("_Users", users);

                                        }
                                        else
                                        {
                                            <h1>Error</h1>
                                        }
                                    }
                                </div>
                                <!-- end card -->
                            </div>


                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>

            </div>

        </section>
    </div>
}
else
{
    <h1>Permissions</h1>
}