@using PracticeProject.ViewModels
@model List<UserViewModel>

@{
    ViewData["Title"] = "Users";
}
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/theme.css">


@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <section class="flush-with-above">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-hover align-items-center table-borderless">
                        <thead>
                            <tr>
                                <th style="color: black;" scope="col">User</th>
                                <th style="color: black;" scope="col">Profile</th>
                                <th style="color: black;" scope="col">Group/Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr class="bg-white">
                                    <td>
                                        <div class="media align-items-center">
                                            <img alt="Image profile avatar" src="@user.Image" class="avatar">
                                            <div class="media-body">
                                                <h5 class="mb-0">@user.Name @user.Surname</h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                            View Profile
                                        </a>
                                    </td>
                                    @if (user.Grupa != null)
                                    {
                                        <td>@user.Grupa</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var role in user.RolesName)
                                            {
                                                @role
                                                <br/>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}
